Package: com.rpetrich.voicekeys
Priority: optional
Section: Tweaks
Maintainer: BigBoss <bigboss@thebigboss.org>
Architecture: iphoneos-arm
Version: 1.0
Description: Dictate text via Google's speech recognition
Name: VoiceKeys
Depends: firmware (>= 4.0), mobilesubstrate, preferenceloader (>= 2.0), libspeex, actionmenu (>= 1.2.3)
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=voicekeysData
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=voicekeysData
Sponsor: thebigboss.org <http://thebigboss.org>
Author: Ryan Petrich <rpetrich+voicekeys@gmail.com>
Tag: purpose::extension
dev: rpetrich
Icon: file:///Library/PreferenceLoader/Preferences/VoiceKeys/VoiceKeys@2x.png
